.welcome-card {
display: flex;
flex-direction: column;
font-family: 'Josefin Sans', 'sans-serif';
width: 100%;
justify-content: center;
align-items: center;
}

.welcome-card-header {
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.welcome-card-title {
    font-size: 75px;
}

.welcome-card-actions {
display: flex;
justify-content: center;
}


