<div class="welcome-page">
    <mat-card class="welcome-card">
        <mat-card-header class="welcome-card-header">
            <mat-card-title>Welcome to myFlix!</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="welcome-card-actions">
            <button class="buttons" mat-raised-button (click)="openUserRegistrationDialog()">
                <mat-icon>how_to_reg</mat-icon> Sign up
            </button>
            <button class="buttons" mat-raised-button (click)="openUserLoginDialog()">
                <mat-icon>login</mat-icon> Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>