.navbar {
    display: flex;
    border-bottom: 20px;
    background-color: #bdbdbd;
    height: 70px;
    justify-content: left;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-buttons {
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
}