.mat-card-header {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.profile-infos {
    font-size: 30px;
}

.profile-actions {
    font-family: "Josefin Sans", sans-serif;
}

.mat-raised-button {
    background-color: #f0763d;
}
.movie-box {

}

.profile-container {
    text-align: center;
    justify-content: center;
}

